[alias]
	firstdiff = diff 4b825dc642cb6eb9a060e54bf8d69288fbee4904 HEAD
	forcepush = push --force-with-lease
	oops = commit --amend --no-edit
	remind = diff HEAD~ HEAD
	staged = diff --staged
	vis = log --remotes --branches --tags --oneline --graph --decorate

[core]
	editor = vim
	pager = "delta --dark --file-color=green --hunk-color=green"

[interactive]
	diffFilter = delta --color-only
